:host {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none !important;
  z-index: 100 !important;
}

.dual-sub-wrapper {
  position: absolute !important;
  bottom: 8% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.subtitles {
  color: white !important;
  margin-bottom: 0.4vw !important;
  font-family: Arial, sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.8vw !important;
  line-height: 1.2 !important;
  min-height: 1.3em !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-shadow:
    0px 0px 7px rgba(0, 0, 0, 0.8),
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  background-color: transparent;
}

.en {
  color: #ffcc00 !important;
  font-size: 1.6vw !important;
}
